<!DOCTYPE html>
<html>
<head>
    <title> Samsung Milestones</title>
</head>
<body>
<h1> Samsung Milestones</h1>
<ol>
<li><h2 style="background-color: cornflowerblue;"> SGH-100 </h2></li>

 <img src="https://th.bing.com/th/id/OIP.yL3YQfZVy4Sh1F5JFNKnxAHaH_?pid=ImgDet&rs=1">
   <p> Picture from flickr.com</p>
 </a>
<Li><h2 style="background-color: blue;">55-inch projection TV. </h2></Li>



</ol>

</body>
</html>
